.element {
  width: 140px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.element.prize.prize {
  transition: background-color 1.5s ease-in 0.3s;
  background-color: #eed46b !important;
  box-shadow: 0 0 12px rgba(222, 231, 229, 0.95);
}
.element.prize .symbol {
  text-shadow: #faf7edd4;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #bf7d43a0;
}
.element.prize .details {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.85);
}

.element .symbol {
  position: relative;
  font-size: 30px;
  top: 0;
}
.element .details {
  position: relative;
  top: 0;
  font-size: 16px;
}
.card-avatar {
  height: 100px;
  width: 100px;
  border-radius:50%;
  background-color: #fff;
}
